body{
    padding: 20px;
    margin: auto;
    width: 80%;
    background-color: lightgrey;
    border-radius: 10px;
    height: 80%;
}

nav{
    display: flex;
}

#main-container{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 3px 3px 2px grey;
    width: 100%;
    position: relative;
}
#main-container header{
    display:flex;
    flex-direction: column;
}

header{
    margin-bottom: 20px;
}

header a{
    text-decoration: none;
}

#header-left{
    display: flex;
    float: left;
}

#header-right{
    display: inline;
    float: right;
}

#vin-listing, #vin-data, #vin-img
{
    height: 100%;
}

#logo{
    max-height: 50px;
}

#vin{
    max-height: 200px;
}

footer{
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

#wines-list{
    overflow: auto;
    height: max-content;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 6px;
}

#wines-list li.active:hover{
    color: white !important;
    background: #7f007f !important;
}

#wines-list li:hover{
    background: #f6f7f8;
}

#wines-list li{
    border-bottom: 1px solid lightgray;
    text-align: left;
    border-radius: unset;
}

#wines-list:last-child{
    border-bottom: none;
}

.active{
    color: whitesmoke;
    font-weight: bold;
    background-color: #7f007f;
    border-right: 1px solid #7f007f;
}

.center-fix {
    text-align: center;
    color: black;
    position: relative;
    margin: auto;
}
#vin-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 334px;
}

#vin-img img{
    min-height: 300px;
    margin: auto;
}

#wine-id{
    background-color: grey;
    color: whitesmoke;
    border-radius: 6px;
    padding: 0 5px;
    margin-right: 7px;
}

#vin-data p{
    margin-bottom: 5px;
}

#tabs{
    margin-top: 10px;
    height: 225px;
    overflow: hidden;
}

#tabs div{
    height: 100%;
    overflow: auto;
}

#flag{
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.no-comment{
    color: grey;
    font-weight: bolder;
    font-size: xx-large;
    display: flex;
    justify-content: center;
}

.btn-secondary{
    background: #f6f7f8 !important;
    color: black;
    border: none;
}

.btn-sm:hover{
    color: black !important;
    background: rgba(255, 0, 255, 0.5) !important;
}

.btn-sm:focus{
    border: none !important;
    color: #da3544 !important;
    animation: none !important;
}

#likes {
    padding: 1px 3px !important;
    height: 25px;
}

#likes:hover {
    background: #C82333 !important;
    color: whitesmoke !important;
}


#loader, #noteContainer, #loginContainer, #uploadContainer, #commentContainer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    border-radius: 6px;
}

#loader{
    background: white url("images/loader.gif") no-repeat center center;
}

.popup{
    display: none;
    background-color: rgba(68, 68, 68, 0.5);
}

.popupForm{
    padding: 10px;
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 50%;
    border-radius: 12px;
    box-shadow: -2px -2px 2px white, 2px 2px 2px white;
    background-color: white;
}

.fuchsia-text {
    color: fuchsia;
}

.centered-text {
    text-align: center;
}

.ml-form-el {
    margin-left: 55px; !important;
}

#noteForm button{
    text-align: center;
    margin: auto;
    width: 80%;
}

textarea{
    resize: none;
    padding: 15px;

}

.cross{
    color: fuchsia;
    float: right;
}

.cross:hover{
    cursor: pointer;
    
}

#login{
    text-transform: capitalize;
}

.error{
    color: red;
}

/******** SCROLLBAR *********/
/*
*::-webkit-scrollbar {
    width: 6px;
    height: 50%;
}

*::-webkit-scrollbar-track {
    background: #ff00ff;
}

*::-webkit-scrollbar-thumb {
    background-color: #ff00ff;
    border-radius: 8px;
}*/

