body{
    padding: 20px;
    margin: auto;
    width: 95%;
    background-color: lightgrey;
    border-radius: 10px;
}

#main-container{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 3px 3px 2px grey;
}
#main-container header{
    display:flex;
    flex-direction: column;
}

header a{
    text-decoration: none;
}

#header-left{
    display: flex;
    float: left;
}

#header-right{
    display: inline;
    float: right;
}

#vin-listing, #vin-data, #vin-img
{
    border: 1px solid fuchsia;
    height: 100%;
}

#logo{
    max-height: 50px;
}

#vin{
    max-height: 200px;
}

footer{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

